/* Tags */

body {
  background: url(./images/background2.jpg) no-repeat center center;
  background-size: cover;
}
.manny {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px 10px;
  grid-template-areas:
    'left right'
    'feet feet';
}
.hangMan {
  grid: left;
}
.gameSide {
  grid-area: right;
}
.guessWord {
  font-size: 60px;
}

/* Classes */
.center {
  margin: 0;
  text-align: center;
}

.flex-ctr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.feet {
  grid-area: feet;
}

.keyboard {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  width: 300px;
}

.keyboard button {
  font-size: 50px;
  display: flex;
}

#resetBtn {
  font-size: 30px;
}
a {
  font-size: 30px;
}
.blackWhite {
  /* background-color: black; */
  color: aliceblue;
}

a {
  text-decoration: none;
  color: aliceblue;
}

span {
  background-color: black;
}
